
.wrap_search
{
   
}

.wrap_search form
{
    width:100%;
}

div.search_detail
{
    margin-top:10px;
    flex-direction:row;
    display:flex;
    width:100%;

}

div.wrap_search .area
{
   

}

.search_item_name
{
    display:inline-block;
    width:20%;
    vertical-align:middle;
}

.search_item_line
{
    display:flex;
    flex-direction:row;
    width:auto;
    margin-bottom:10px;
    margin-right:10px;
}

.search_item_line input
{
    width:auto;
    text-align:left;
    vertical-align:middle;
}

.search_menu
{
    display:flex;
    flex-direction:row;
    margin-top:10px;
    margin-bottom:10px;
}

.search_button
{
    text-align:right;
}