.wrap
{
   width:1024px;
}
div.detail
{
            

    flex-direction:row;
    display:flex;
}

div.detail .area
{
    width:50%;
}
div.detail .line
{
    flex-direction:row;
    display:flex;
}
div.detail .line input
{
    width:auto;
    text-align:left;
}
div.detail .area .name
{
    vertical-align:middle;
    width:30%;
    font-weight:600;
}
