.customer_header
{
     flex-direction:row;
    display:flex;
    margin-left:10px;
}

.sub_header_button
{
    margin:10px;
    border-bottom-style:solid;
}

.wrap_search
{
    flex-direction:row;
    display:flex;
    width:1024px;
}

div.search_detail
{
            
    flex-direction:row;
    display:flex;
}

div.wrap_search .area
{
    width:50%;

}

.search_item_name
{
    display:inline-block;
    width:20%;
    vertical-align:middle;
}

.search_item_line
{
    display:flex;
    flex-direction:row;
    width:auto;
}

.search_item_line input
{
    width:auto;
    text-align:left;
    vertical-align:middle;
}