
.wrap_search
{
    flex-direction:row;
    display:flex;
    margin-top:10px;
}

div.search_detail
{
    margin-top:10px;
    flex-direction:row;
    display:flex;
}

div.wrap_search .area
{
    width:50%;

}

.search_item_name
{
    display:inline-block;
    width:40%;
    vertical-align:middle;
}

.search_item_line
{
    display:flex;
    flex-direction:row;
    width:auto;
    margin-bottom:10px;
    margin-right:10px;
}

.search_item_line input
{
    width:auto;
    text-align:left;
    vertical-align:middle;
}