.wrap
{
   
}
div.detail
{
           
  
}

div.new_regist
{
    text-align:left;
    padding-top:10px;
}
div.detail .area
{
    width:auto;
    margin-right:10px;
    margin:0 auto;

}
div.detail .line
{

    margin-bottom:20px;

}
div.detail .line input,
div.detail .line select
{
    width:auto;
    text-align:left;    

    box-sizing: border-box; /* [borde-box]‚Å‰E‚Ì”ò‚Ño‚µ‚ğ‰ñ”ğ */
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
}

div.detail .area .name
{
    vertical-align:middle;
    
}

div.detail_input_error
{
    margin-bottom : 10px;
    margin-top : 10px;
}
div.detail_input_error span
{
    color:red;
}

div.regist_finish
{
    margin-top:20px;
}