.wrap
{
   
}
div.detail
{
            
    margin-top:10px;
    flex-direction:row;
    display:flex;

    border:outset 1px;
    background-color:#ddeeff;
    margin:20px;
    padding:5px;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
}

div.detail .area
{
    width:50%;
    margin-right:10px;
}
div.detail .line
{
    flex-direction:row;
    display:flex;
}
div.detail .line input
{
    width:auto;
    text-align:left;
}
div.detail .area .name
{
    vertical-align:middle;
    width:40%;
}
