.login_wrap
{
  width:320px;
  margin: auto;
 
}

.login_wrap h1
{
   font-size: small;
}

.login_wrap input
{
  width:100%;
  margin-bottom: 10px;
}

.wrap
{
  margin: auto;
  text-align: center;
  width:200px;
}

.input_area
{
  margin-top: 10px;
  text-align :center;
}

.btn_area
{
  text-align: right;
  margin-top: 10px;
}