.menu_description
{
    height:200px;
    width:80%;
    vertical-align:top;
}

table.menu_table
{
    width:100%;
    margin-top:10px;
}
table.menu_table,
table.menu_table td
{
    border:1px solid #ccc;
}

table.menu_table a,
table.menu_table input[type="submit"].manage_button
{  
    padding: 0px 5px;
}

td.menu_edit
{
    width:40px;
}

table.course_view
{
    width:100%;
    margin-top:10px;
    background-color:white;
}

table.course_view td
{
    vertical-align:middle
}

table.course_view a,
table.course_view input[type="submit"].manage_button
{  
    padding: 0px 5px;
    display:inline;
}

div.course_view_form
{
    background-color:rgb(227, 238, 203);
}
