.input_criteria
{
    margin:0 auto;
    margin-top:10px;
    padding:5px;
    width:315px; 
}

.criteria_wrap
{
    margin-top:10px;
}

div.critera_input_area
{

}

.page_title_area h1
{
    padding: 5px 10px;
    border-left: 6px solid #000000;
    border-bottom: 2px solid #000000;
}

.line h2
{
    border-bottom:1px solid #000;
    font-size:unset;
}

.staff_view_table
{
    width:100%;
    margin-top:10px;
}

.mail_title_head
{

}
.cmd_head
{
    width:80px;
    text-align: center;
}

.cmd_td
{
    text-align: center;
}

.message_setting
{

}

.input_area{
    margin:auto;
}

.message_setting textarea
{
    width:90%;
    height : 150px;
}

.msg_form_button_area
{
    margin-top: 30px;
    text-align:right;
}

.day_num_area
{
    display: flex;
    flex-direction: row;
}

.line input[type='number'],
.line input[type='text'],
.line input[type='email'],
.line select
{
    width:90%;
}

input[type='number']
{
    text-align: right;
}

.day_num_area input[type='number']
{
    height: 1em;
    width: 50px;
}

.line
{
    margin-top:10px;
    margin-left: 5px;
    margin-right:5px;    
}

.line input[type='email']
{
    width: 100%;
    max-width: 200px;
}

.line.title input
{
    max-width: 300px;
}

.line textarea
{
    width:95%;
    height:100px;
}

.move_btn_area
{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}