.staff_view_table
{
    width:100%;
    margin-top:10px;
}

.mail_title_head
{

}
.cmd_head
{
    width:80px;
    text-align: center;
}

.cmd_td
{
    text-align: center;
}

.message_setting
{

}

.input_area{
    margin:auto;
}

.message_setting textarea
{
    width:90%;
    height : 150px;
}

.msg_form_button_area
{
    margin-top: 30px;
    text-align:right;
}

.day_num_area
{
    display: flex;
    flex-direction: row;
}

.day_num_area input[type='number']
{
    height: 1em;
    width: 50px;
}

.line
{
    margin-top:10px;
    margin-left: 5px;
    margin-right:5px;    
}

.line input[type='email']
{
    width: 100%;
    max-width: 200px;
}

.line.title input
{
    max-width: 300px;
}

.line textarea
{
    width:95%;
    height:100px;
}

.move_btn_area
{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}