.staff_form_button
{
    text-align:right;
}

table.staff_view_table a, table.staff_view_table input[type="submit"].manage_button {
    padding: 0px 5px;
}

div.staff_wrap {
    margin-top: 10px;

}

div.staff_info {
    border: solid 1px #d3d3d3;
    width: 175px;
    margin: auto;
    margin-bottom: 10px;
}

div.name_area
{
    text-align:center;
}

div.edit_area
{
    text-align:center;
}

div.image_area
{
   text-align:center;
   height:200px;
}

.staff_image_view
{
    max-width: 140px;
    height: auto;
    margin:10px;
}

div.staff_image_area {
    text-align:center;
}

div.image_upload_area
{
    margin:20px;
}

div.upload_button_area {
    margin-top: 20px;
}

div.image_upload_area.close {
    display:none;
}

.staff_image
{
    max-width:140px;
    height:auto;
}

.staff_input
{
    width:90%;
}

.update_btn_area
{
    text-align: right;
}