.staff_form_button
{
    text-align:right;
}

table.staff_view_table a, table.staff_view_table input[type="submit"].manage_button {
    padding: 0px 5px;
}

div.staff_wrap
{
    margin-top:10px;
}

table.staff_view_table
{
    width:100%;
    margin-top:10px;
}

table.staff_view_table th
{
width:100px;
}

table.staff_view_table td
{
     /*display: list-item;*/
}

div.edit_area
{
    text-align:right;
}

.staff_image
{
    max-width:140px;
    height:auto;
}

.staff_input
{
    width:90%;
}