.wrap
{
    width : 320px;
    margin: auto;
    margin-top: 10px;
}

.attention_are
{
    margin: 10px;
}

.attention_are span{
    color:red;
 }

.top_btn_area
{
    display: flex;
    flex-direction: column;
}

.top_btn_area button{
    margin: auto;
    margin-top: 10px;
    width: 50%;
}

.move_btn_area
{
    margin-top: 10px;
    margin-bottom: 10px;
    display:flex;
    justify-content: space-between;
}

.hidden_btn
{
    visibility: hidden;
}

.schedule_save_btn_area
{
    text-align: right;
}

div.time_col,
div.schedule_col
{
    border: 1px solid #ccc;  
}

div.time_col
{
    width:20%;
}

div.schedule_col
{
    position: relative;
    width:97%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

div.time_area{
    
    height: 30px;
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid #ccc;    
    margin: auto;
}

.time_cell
{
    font-weight: bold;
    height: 100%;
    vertical-align: middle;
    margin: auto;
}

div.time_area span{
    margin: auto;
    display: block;
}

.staff_select_area
{
    
}

.time_schedule_table_area
{
    width: 320px;
    margin: auto;
    margin-top: 10px;
}

.time_schedule_table
{
    display: flex;
    flex-direction: row;
}

div.schedule_cell
{
    position: absolute;
    width: 100%;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    background-color: #ffd800;
    text-align: left;
}

div.schedule_cell:hover
{
     border:solid 1px coral;
}


.yoyaku_name
{
    background-color: #b6ff00;
    text-align: left;
    margin: 10px;
}

.edit_comment
{
    width: 95%;
    height: 150px;
}

.customer_table
{
    width:100%;
}

.customer_table th.input
{
    width: 10%;
}

.button_td
{
    padding: 0px;
}

.list_button
{
    font-size: small;    
}

.delete_btn_area
{
    text-align: right;
    margin: 10px;
}

.deleat_schedule_list_table
{
    width: 100%;
}

.regist_finish
{
    margin: 20px;
    color:red;
}