.yoyaku_wrap {
}

div.main
{
    overflow:hidden;
}

.inner_wrap
{
      width:850px;

    position: absolute;
    left: 50%;
    -webkit-transform:translateX(-50%);
    transform: translateX(-50%);
}

.yoyaku_midashi
{
    color:#2F75B5;
    text-align:center;
    margin-bottom:20px;
    margin-top:20px;
    font-weight:bold;
}


input.next_button,
button.next_button
{
    background-color:#2F75B5;
    border-color:#2F75B5;
    color:#fff;
    font-weight:bold;
}

a.back_button
{
    color:#2F75B5;
    background-color:#FFF;
    border-width: 2px;
    border-style: outset;
    text-align:center;
    border-color:#2F75B5;
    border-radius: 6px;
    width:150px;
    float:left;
    text-decoration:none;
}



@media only screen and (max-width:900px) {
    
    
.inner_wrap
{
    width:100%;
}

}