.table_area
{
    margin-top: 50px;
}

.mail_inpt_table
{
    background-color: #F8F8F8;
    width: 100%;
    margin: auto;
}

.mail_inpt_table tr
{
    height: 60px;
}

.mail_inpt_table,
.mail_inpt_table td
{
    border: solid 1px #E6E6E6;
    border-collapse: collapse;
}

td.midasi
{
    width: 30%;
    vertical-align: top;
    padding: 10px;
    font-weight: bold;
}

.mail_inpt_table td
{
    vertical-align: top;
}

.mail_inpt_table input[type='text'],
.mail_inpt_table input[type='tell'],
.mail_inpt_table input[type='email'],
.mail_inpt_table textarea
{
    width: 90%;
}


.mail_inpt_table input,
.mail_inpt_table textarea
{
    margin-top: 10px;
    margin-left: 10px;
}


.tag
{
    color: white;
    display: inline-block;
    width: 45px;
    text-align: center;
    border-radius:3px;
    font-weight: bold;
    padding: 3px;
}

.required
{
    background-color: #DF93A2;
 
}

.option
{
    background-color: #66CC66
}

tr.consultation_tr
{
    
    height: 180px;
}

textarea.consultation
{
   height: 150px;
}

.button_area
{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}