div.staff_wrap
{
   max-width:700px;
   margin:auto;
}

div.staff_select_area
{
    display:flex;
    flex-direction:row;
}

div.staff_info
{
    margin-right:10px;
    border:solid 1px #d3d3d3;
    width:188px;
    
}


@media only screen and (max-width:400px) {

    div.staff_select_area {
        display: flex;
        flex-direction: column;
    }

    div.staff_info
    {
        margin:auto;
        margin-bottom:10px;
    }
}


div.staff_name
{
    color:#2F75B5;
    font-weight:bold;
    text-align:center;
}

div.staff_image_wrap {

    height:200px;
    text-align: center;
    padding-top: 15px;
    margin-bottom: 10px;
}

img.staff_image
{
    max-width:140px;
    height:auto;
    margin:auto;
}

a.staff_name_link
{
    text-decoration:none;
}

div.course_table_area
{
    display:flex;
    
}

div.reserve_area
{
    margin-top:10px;
    margin-bottom:10px;
    text-align:right;
}

div.select_staff_button_area
{
    text-align:center;
    margin-top:10px;
}

div.select_staff_button_area button
{
    margin-bottom:20px;
    font-weight:bold;
    width:90%;
    height:40px;

}

div.staff_select_area
{
    margin-bottom:15px;
}

div.back_button_area
{
 
}

a.back_button
{
    
}