.footer_area
{
    background-color:#E2EFDA;

    
}

.footer_btn
{
    background-color:#A9D08E;
    font-weight:bold;
    color:#fff;
}


.footer_midasi
{
    color:#726250;
    text-decoration:underline;
}

.footer_discription
{
    color:#393939;
}